@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Teko:wght@300&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #232323;
    text-decoration: none;
    list-style: none;
}

.form-group {
    HEIGHT: 65%;
}

h1 {
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    /* position: fixed; */
    overflow-x: hidden;
}

header h1 a {
    color: #fdc500;
}

header li a {
    color: #3D0066;
    /* mudar isso aqui depois */
}

header h1 a:hover,
header li a:hover {
    color: #C86BFA;
    transition: 0.3s;
}

header h1 {
    cursor: pointer;
    margin-right: auto;
}

header h1 a {
    font-family: 'Teko', sans-serif;
    font-size: 2.85rem;
}

nav ul {
    display: flex;
}

li:not(:last-child) {
    margin-right: 20px;
}

li a {
    font-weight: 700;
    font-size: 1.15rem;
}

section {
    max-width: 100vw;
    height: 100vh;
}

section.home {
    background: url("/images/bg.png");
    background-size: cover;
    background-position-x: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -93px;
}

.text-home {
    max-width: 800px;
    max-height: 300px;
    margin-bottom: 60px;

}

.text-home h3 {
    color: #3d0066;
    font-family: "Teko";
    font-size: 10rem;
    font-weight: 700;
    line-height: 13rem;
}

.social-media i {
    color: #fdc500;
    font-size: 3.5rem;
}

.social-media i:hover {
    color: #C86BFA;
}

.social-media a:not(:last-child) {
    margin-right: 40px;
}

.agenda {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 250vh;
    height: fit-content;
    margin: 60px 0;
}

.agenda h2,
.history h2,
.contact h2,
.discography h2 {
    width: 80%;
}

.title {
    font-weight: 900;
    font-size: 6rem;
    color: #3D0066;
    font-family: "Teko", sans-serif;
    margin-bottom: 50px;
}

.agenda-container {
    width: 65%;
    max-height: 120%;
    display: flex;
    flex-direction: column;
}

.mes {
    padding: 15px;
    border-radius: 8px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.mes:not(:last-child) {
    margin-bottom: 30px;
}

.mes h2 {
    font-size: 1.95rem;
}

.mes button {
    width: 120px;
    height: 35px;
    border: none;
    color: #3D0066;
    font-weight: 700;
    background-color: #FDC500;
    border-radius: 4px;
    margin: 5px 0;
}

.mes button:hover {
    background-color: #C86BFA;
    transition: 0.3ms;
    cursor: pointer;
}

.dates-container {
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
}

.date {
    margin-right: 30px;
    font-size: 1.5rem;
    font-weight: 700;
}

.dates-container h4 {
    font-size: 1.5rem;
}

.place-time {
    margin: auto;
    display: flex;
}

.place-time p {
    width: fit-content;
    line-height: 1.15rem;
}

.place-time p:first-child {
    margin-right: 20px;
}

.history {
    background-color: #3D0066;
    padding: 60px 0;
    max-height: 150vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.history-container {
    display: flex;
    flex-direction: column;
}

.history * {
    color: whitesmoke;
}

/*  media querie = width: 85%; */
/*  4k = width: 50%; */
.history-box {
    /* width: 50%; */
    width: 85%;
    max-height: 120%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.history-image,
.history-box p {
    width: 45%;
}

.history-image:first-child {
    margin-right: 10px;
}

.history-image:last-child {
    margin-left: 10px;
}

.history-image img {
    width: 100%;
}

.history-box p {
    line-height: 1.85;
    font-size: 1.05rem;
    font-weight: 500;
}

.discography {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* ñ entendi o que deu "certo aqui, o conteúdo ñ precisa de uma altura???" 
    na verdade parece o que max-height não tá funcionando...  */
    /* max-height: 150vh; */
    height: fit-content;
    margin: 60px 0;
}

.disco-container {
    overflow: hidden;

}

.album-slider {
    display: flex;
    overflow-x: auto;
    width: 900px;
    height: 100%;
    padding-bottom: 10px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.album-slider::-webkit-scrollbar {
    width: 10px;
    height: 15px;
}

.album-slider::-webkit-scrollbar-thumb {
    background: #3D0066;
    border-radius: 10px;
}

.album-slider::-webkit-scrollbar-track {
    background: #FDC500;
    border-radius: 10px;
}

.albums {
    width: 500px;
    flex-shrink: 0;
    height: 100%;
}

.albums:not(:last-child) {
    margin-right: 50px;
}

.cover-image {
    width: 100%;
}

.cover-image img {
    width: 100%;
    margin-bottom: 25px;
}

iframe {
    width: 500px;
    height: 500px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 150vh;
    height: 100%;
    margin: 60px 0;
}

/* media querie = width: 75%; */
/* 4k = width: 50%; */
.contact-container {
    /* width: 45%; */
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    /* margin-bottom: 50px; */
}

.contact-container * {
    border: none;
    resize: none;
}

.contact-container input,
.contact-container textarea {
    background-color: whitesmoke;
}

.contact form,
.other-contact-forms {
    background-color: #3D0066;
    width: 100%;
    height: 750px;
    ;
    padding: 20px;
}

.contact form {
    border-radius: 8px 0 0 8PX;
}

.contact form fieldset {
    display: flex;
}

.contact form legend {
    color: #C86BFA;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 20px;
}

.input-group,
.label {
    margin: 10px 0;
}

.label label {
    color: #C86BFA;
    font-weight: 700;
}

.contact [type="text"],
.contact [type="email"],
.contact [type="date"],
.contact [type="tel"],
.contact textarea {
    padding-left: 10px;
    border-radius: 4px;
}

.contact [type="text"],
.contact [type="email"],
.contact [type="date"],
.contact [type="tel"] {
    height: 30px;
}

.contact [type="email"] {
    width: 85%
}

.contact textarea {
    padding-top: 10px;
    width: 150%;
}

.contact [type="tel"] {
    width: 45%;
}

.contact [type="date"] {
    width: 60%;
}

.contact [type="text"] {
    width: 120%;
}


.contact [type="submit"] {
    width: 40%;
    height: 45px;
    font-weight: 700;
    background-color: #FDC500;
    color: #3D0066;
    cursor: pointer;
    margin-top: 40px;
}

.contact [type="submit"]:hover {
    background-color: #C86BFA;
}

.other-contact-forms {
    background-color: #fff;
    border: 2px solid #3D0066;
    padding: 20px;
    border-radius: 0 8px 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.acessorias {
    width: 200px;
}

.acessorias p {
    font-weight: 500;
}

.acessorias p:not(:last-child) {
    margin-bottom: 10px;
}

p.bold {
    font-weight: 700;
    color: #3D0066;
}

footer {
    background-color: #3D0066;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sponsors {
    display: flex;
    margin: 120px 0 40px 0;
}

.sponsors img {
    width: 100%;
}

.sponsors-image:not(:last-child) {
    margin-right: 60px;
}

.footer-text {
    text-align: center;
    padding-bottom: 60px;
}

.footer-text p {
    color: whitesmoke;
    font-weight: 500;
}

.footer-text p:not(:last-child) {
    margin-bottom: 10px;
}

@media only screen and (min-width:56.25em) and (max-width:90em) {

    .agenda-container {
        width: 90%;
    }

    .mes {
        width: 100%;
    }

    .album-slider {
        width: 600px;
    }

    .contact-container {
        width: 90%;
    }

    .contact form,
    .other-contact-forms {
        width: 50%;
        height: 650px;
    }

    .contact textarea {
        width: 120%;
        height: 120px;
    }

    .contact [type="text"] {
        width: 90%;
    }

    .contact [type="submit"] {
        margin-top: 20px;
    }

}

@media screen and (min-width:38.75em) and (max-width:55em) {
    .agenda-container {
        width: 90%
    }

    .history-box {
        width: 80%;
        height: 50%;
    }

    .album-slider {
        width: 400px;
    }

    .contact-container {
        width: 90%;
    }

    .contact form,
    .other-contact-forms {
        width: 90%;
    }

    .contact [type="email"] {
        width: 95%;
    }

    .contact textarea {
        width: 100%;
        height: 120px;
        background-color: #C86BFA;
    }

    .contact [type="text"] {
        width: 90%;
    }

    .acessorias {
        margin: 5% 0;
    }

    .albums:not(:last-child) {
        margin-right: 150px;
    }
}

@media screen and (max-width: 610px) {

    header {
        flex-direction: column;
        align-items: center;
        justify-content: unset;
        padding: 0;
    }

    header h1 {
        margin: 5px auto;
        /* padding-top: 20px; */
    }

    nav {
        width: 90%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    nav li a {
        color: #fff;
        font-size: 0.9rem;
    }

    li:not(:last-child) {
        margin-right: 10px;
    }

    .social-media {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .agenda-container {
        width: 90%;
    }

    .mes:not(:last-child) {
        margin-bottom: 20px;
    }

    .month-title {
        margin-bottom: 20px;
    }

    .dates-container {
        /* flex-direction: column;
        align-items: flex-start; */
        flex-wrap: wrap;
    }

    .place-time {
        width: 65%;
    }

    .dates-container button {
        width: 95px;
    }

    .history {
        height: fit-content;
    }

    .history .title {
        margin-bottom: 10px;
    }

    .history-box {
        flex-direction: column;
    }

    .history-image,
    .history-box p {
        width: 95%;
    }

    .history-image:first-child,
    .history-image:last-child {
        margin-right: 0;
        margin-left: 0;
    }

    .history-box p {
        font-size: 0.95rem;
        line-height: 1.35;
    }

    .history-box p:first-of-type {
        margin: 20px 0;
    }

    .history-box p:last-of-type {
        margin-bottom: 20px;
    }

    .history-image-2 {
        display: none;
    }

    .album-slider {
        width: 350px;
    }

    .albums {
        width: 350px;
    }

    .albums:not(:last-child) {
        margin-right: 25px;
    }

    .cover-image,
    iframe {
        width: 100%;
    }

    .contact-container {
        flex-wrap: wrap;
        width: 90%;
        /* border-radius: 8px; */
    }

    .contact form {
        border-radius: 8px 8px 0 0;
    }

    .contact form,
    .other-contact-forms {
        height: fit-content;
    }

    .contact form legend {
        font-size: 1.8rem;
        margin-bottom: 0;
    }

    .input-group,
    .label {
        margin-bottom: 10px;
    }

    .contact textarea {
        height: 120px;
        width: 100%;
    }

    .contact [type="tel"] {
        width: 50%;
    }

    .contact [type="text"] {
        width: 100%;
    }

    .other-contact-forms {
        border-radius: 0 0 8px 8px;
        align-items: flex-start;
    }

    .acessorias:not(:last-child) {
        margin-bottom: 20px;
    }

    .acessorias p:not(:last-child) {
        margin-bottom: 5px;
    }

    .sponsors {
        width: 80%;
    }

    .footer-text p {
        font-size: 80%
    }
}